* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.exercise__inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.exercise-title {
  margin: 4px 0;
  display: inline-block;
}

.description {
  display: block;
  text-align: center;
}

#result {
  font-family: sans-serif;
}